@import 'tailwindcss';
/* @custom-variant dark (&:where(.dark, .dark *)); */

:root {
  --evening-black: #1a1a1a;
}
* {
  font-family: 'circular-normal', sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}
body {
  overflow: hidden;
  height: 100vh;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@theme inline {
  /* --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif; */
  --color-primary: hsl(0, 0%, 10%);
  --color-secondary: #aaa6c3;
  --color-tertiary: #151030;
  --color-black-100: #100d25;
  --color-black-200: #090325;
  --color-white-100: #f3f3f3;
  /* --color-green: #ff8c00; */
  /* --color-green: #08a9ff; */
  --color-green: #1fdf64;
  --color-black: #000;
  --color-deep-night-black: #121212;
  --color-midnight-black: #181818;
  --color-evening-black: #1a1a1a;
  --color-darkgray: #282828;
  --color-slategray: #404040;
  --color-lightgray: #959595;
  --color-silvergray: #b3b3b3;
  --color-snow: #ffffff;
  --shadow-card: 0px 35px 120px -15px #211e35;
  --breakpoint-xs: 450px;
  --font-display: 'Circular', sans-serif;
  --font-cascadia: 'cascadia-normal', monospace;
  --font-circular-normal: 'circular-normal', sans-serif;
  --font-circular-light: 'circular-light', sans-serif;
  --font-circular-medium: 'circular-medium', sans-serif;
  --font-circular-bold: 'circular-bold', sans-serif;
}

@layer utilities {
  .transition {
    transition: all 200ms 1s;
  }
}

@font-face {
  font-family: 'cascadia-normal';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Cascadia.ttf') format('truetype');
}
@font-face {
  font-family: 'circular-light';
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Circular-Light.otf') format('opentype');
}
@font-face {
  font-family: 'circular-normal';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Circular-Book.otf') format('opentype');
}
@font-face {
  font-family: 'circular-medium';
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Circular-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'circular-bold';
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Circular-Bold.otf') format('opentype');
}

/* Hide scrollbar for chrome, safari and opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge*/
  scrollbar-width: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1fdf64;
  border-radius: 8px;
}
/* Handle  Hover*/
::-webkit-scrollbar-thumb {
  background: #1fdf64;
}

/* new styles */
.icon {
  animation-name: scale-icon;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes scale-icon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
}
.card_stylings {
  background: #1a1a1a;
  border-radius: 0.75rem;
}
.card_stylings:hover {
  background-image: linear-gradient(
    to bottom right,
    rgba(31, 223, 100, 0.1),
    rgba(79, 70, 229, 0.05)
  );
}
.boxShadow:hover {
  box-shadow:
    rgba(31, 223, 100, 1) 0px 2px 5px -1px,
    rgba(31, 223, 100, 1) 0px 1px 3px -1px;
  /* -webkit-box-shadow: 0px 0px 11px -3px rgba(31, 223, 100, 1);
  -moz-box-shadow: 0px 0px 11px -3px rgba(31, 223, 100, 1);
  box-shadow: 0px 0px 11px -3px rgba(31, 223, 100, 1); */
}

.userIcon:focus-within #icon,
.mailIcon:focus-within #icon,
.textIcon:focus-within #icon {
  color: #1fdf64;
}

:where(.css-dev-only-do-not-override-1odpy5d).ant-progress.ant-progress-circle
  .ant-progress-text {
  color: #fff !important;
}
