@import 'tailwindcss';
/* @custom-variant dark (&:where(.dark, .dark *)); */

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}
* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  /* font-family: "Poppins", sans-serif; */
  scroll-behavior: smooth;
  color-scheme: dark;
}
body {
  overflow: hidden;
  height: 100vh;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@theme inline {
  /* --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif; */
  --color-primary: hsl(0, 0%, 10%);
  --color-secondary: #aaa6c3;
  --color-tertiary: #151030;
  --color-black-100: #100d25;
  --color-black-200: #090325;
  --color-white-100: #f3f3f3;
  --color-green: #1fdf64;
  --color-black: #000;
  --color-deep-night-black: #121212;
  --color-midnight-black: #181818;
  --color-evening-black: #1a1a1a;
  --color-darkgray: #282828;
  --color-slategray: #404040;
  --color-lightgray: #959595;
  --color-silvergray: #b3b3b3;
  --color-snow: #ffffff;
  --shadow-card: 0px 35px 120px -15px #211e35;
  --breakpoint-xs: 450px;
  --font-display: 'Circular', sans-serif;
  --font-cascadia: 'cascadia-normal', monospace;
  --font-circular: 'circular-normal', sans-serif;
}

@font-face {
  font-family: 'cascadia-normal';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Cascadia.ttf') format('truetype');
}
@font-face {
  font-family: 'circular-light';
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Circular-Light.otf') format('opentype');
}
@font-face {
  font-family: 'circular-normal';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Circular-Book.otf') format('opentype');
}
@font-face {
  font-family: 'circular-medium';
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Circular-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'circular-bold';
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Circular-Bold.otf') format('opentype');
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  background: red;
  transform-origin: 0%;
  z-index: 1;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.yellow-gradient {
  background: linear-gradient(-90deg, #ff9301 0%, rgba(60, 51, 80, 0) 100%);
}
.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: '#00cea8';
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-hero {
  background-image: url('../assets/herobg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow:
      0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff,
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7),
      2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7),
      1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7),
      0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7),
      -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7),
      -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7),
      -1.8em -1.8em 0 0em #ffffff;
  }
}

.tablist {
  display: flex;
}
.tablist .react-tabs__tab--selected {
  outline: none;
  border: 0;
  background: transparent;
  border-bottom: #f5af19;
}

.section {
  padding: 100px 0;
  position: relative;
}

.react-tabs__tab {
  background: transparent;
  padding: 0;
  display: flex;
}

.portfolio-filter-01 .filter button {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin: 0 15px;
  padding: 5px 0;
  position: relative;
}

.portfolio-filter-01 .filter button.react-tabs__tab:after {
  background: #ff9301;
  bottom: 0;
  content: '';
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  transition: all 0.55s ease;
  width: 0;
}

.portfolio-filter-01 .filter button.react-tabs__tab:last-child {
  margin-right: 0;
}

.portfolio-filter-01 .filter button.react-tabs__tab:first-child {
  margin-left: 0;
}

.portfolio-filter-01
  .filter
  button.react-tabs__tab.react-tabs__tab--selected:after {
  width: 100%;
}
.portfolio-box-01 {
  /* background: #fff; */
  position: relative;
}

.portfolio-box-01 .portfolio-img {
  overflow: hidden;
  position: relative;
}

.portfolio-box-01 img {
  transition: all 0.55s;
  max-width: 100%;
}

.portfolio-box-01 .gallery-link {
  cursor: zoom-in;
  display: block;
  position: relative;
}

.portfolio-box-01:hover .gallery-link img {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}
.portfolio-box-02 img {
  transition: all 0.55s;
  max-width: 100%;
}

.portfolio-box-02 .gallery-link {
  cursor: zoom-in;
  display: block;
  position: relative;
}

.portfolio-box-02:hover .gallery-link img {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.portfolio-box-01 .gallery-link:after {
  background: rgba(0, 0, 0, 0.65);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: all 0.55s;
  visibility: hidden;
  width: 100%;
}
.portfolio-box-02 .gallery-link:after {
  background: rgba(0, 0, 0, 0.65);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: all 0.55s;
  visibility: hidden;
  width: 100%;
}

/* new styles */
.icon {
  animation-name: scale-icon;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes scale-icon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
}

:where(.css-dev-only-do-not-override-1odpy5d).ant-progress.ant-progress-circle
  .ant-progress-text {
  color: #fff !important;
}
